.logoImg {
  width: 4vmax;
  height: 9vmin;
}

body {
  font-family: "Inter";
}

.buttons:hover {
  color: #fff !important;
  background: #9b68d9 !important;
  border-color: #9b68d9 !important;
}
.links {
  text-decoration: none !important;
}
.buttons {
  color: #9b68d9 !important;
  font-size: 2.5vmin !important;
  padding-top: 1.5vmin !important;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFoundImage {
  height: 50vmin;
  width: 70vmin;
  border-radius: 50%;
}
.notFoundDiv {
  height: 80vh;
}
